{% extends 'base.html.twig' %}

{% block title %}
	Steam Games Shop
{% endblock %}

{% block javascripts %}
	{% javascripts output='js/sc.js'
		'@jquery_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets output='css/st.css' filter='lessphp'
		'@jquery_css'
		'@shop_less' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<div class="page">
		<div class="header block">
			<div class="header-text">Магазин игр Steam</div>
		</div>
		<div class="menu block">
			<nav role="navigation">{{ knp_menu_render('shopmenu') }}</nav>
		</div>
		<div class="block">
			<div class="category-path-block">
				<ol class="category-path-list">
					{% for cat in path %}
						<li>
							{% if not loop.last %}
								<a href="?category={{ cat.path }}">{{ cat.name }}</a>
							{% else %}
								{{ cat.name }}
							{% endif %}
						</li>
					{% endfor %}
				</ol>
			</div>
			<div class="gamelist">
				{% for game in games %}
			        {{ include('shop/game-item.html.twig', { 'game': game }) }}
			    {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}